﻿@{
    ViewBag.AngularAppName = "OrderEntryApp";
}
@section scripts {
    @Scripts.Render("~/bundles/ProQouteOrderEntryApp")
}

<div class="navbar navbar-fixed-top navbar-default">

    <div class="navbar-header">

        <a class="navbar-brand" href="/">ProQuote</a>
    </div>
</div>
<div class="main">
    <div class="box">
        <div class="row">
            <div class="column col-xs-1 hidden-sm hidden-xs">
                <div class="proquote-sidebar">

                    <ul class="nav  affix ">
                        <li class="divider"></li>
                        <li>
                            <a href="/">DashBoard</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/orderEntry">Order Entry</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/orderBook">Order Book</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/notes">Dev Notes</a>
                        </li>
                        <li class="divider"></li>
                    </ul>

                </div>
            </div>
            <div class="column col-lg-11">
                <ng-view></ng-view> 
            </div>
        </div>
    </div>
    </div>
