﻿<div class="row clearfix" ng-controller="homeController">

    <div class="padding">
        <div class="col-md-9">
            <div class="jumbotron">
                <h1>ProQuote Web Trader Demo</h1>

                <p>Bootstrap 3 based layout</p>
            </div>
        </div>
    </div>
</div>