﻿<div class="row clearfix" ng-controller="notesController">

    <div class="padding">
        <div class="col-md-9">
            <div class="jumbotron">
                <h2>Additional Notes</h2>
            </div>
            <div>
                <h3>UI motivation</h3>
                <p>
                    The UI to flow in the same sequence that the user would make selections
                    <ul>
                        <li> Placement section initially disabled,</li>
                        <li> Selecting Instrument enables Placement section,</li>
                        <li> The enabling of the Placement section providing an affordance that the placement section is related to selected instrument and available for use.</li>
                        <li> Use of color to reinforce context (green for buy, red for sell)</li>
                        <li> Syncing submit button with placement type another level of context reinforcement.</li>
                        <li> Clicking on submit button, submit button show timer spinner (use Fiddler to emulate modem speed to see this animation)</li>
                        <li> Used Bootstrap 3 to provide basic responsive design (columns simply stack on smaller devices)</li>
                    </ul>
            </div>

            <div>
                <h3>Technology Stack</h3>
                <ul>
                    <li>Sqlserver (localdb)</li>
                    <li>EntityFramework</li>
                    <li>ASP.NET MVC4 / WebAPI</li>
                    <li>AngularJS plus microframes</li>
                    <li>Bootstrap</li>
                </ul>
                <p>Developed as a Single Page App, with initial view and subsequent requests served by ASP.Net MVC4 / WebAPI</p>


                <h3>Issues</h3>
                <ul>
                    <li>
                        Attempted to install and use NHibernate, but ran into setup issues. Decided to fall back on default EF/SQLServer (localdb). InstrumentId got overwritten by EF’s usage.
                    </li>
                    <li>
                        Could not get the placement directive to be enabled/disabled on selecting/deselecting a row in the grid, I could easily show/hide the placement directive but not enable/disable. Decided not to use show/hide unattractive blinking.
                    </li>
                </ul>
                <h3>Incomplete</h3>
                <ul>
                    <li>
                        Implement Cash/Unit toggle, would have added a context menu to Quantity input field to allow selection of Cash/Unit, provide affordance e.g <i>£</i> for cash and <i>U</i> for units, after or before input field.
                    </li>
                </ul>
                <h3>Comments</h3>
                <p>
                    I selected ng-grid to display Instruments and Orders. From my experience of grids on past projects both xaml and web based, they can absorb a lot of time, so I just did the minimum setup to display a subset of columns.
                    <h3>Taking Things Further (Code Base)</h3>
                <ul>
                    <li>Extend hour glasses to grid loading</li>
                    <li>Remove all explicit strings (injection, module names, web api urls, etc)</li>
                    <li>One codebase for Constants for both Server and Client.</li>
                    <li>Server Side Paging on Grid</li>
                    <li>Introduce and inject IRepository into Server controllers to move mapping ceremony out of controller layer.</li>
                    <li>Ng-click on placement directive for posting the placement should be moved to parent controller (controller should decide on click behaviour and not the directive).</li>
                    <li> Introduce various services</li>
                    <ul>
                        <li>ReferenceData </li>
                        <li>ConstantsService</li>
                    </ul>
                    <li> Remove all unused libraries</li>
                </ul>

                    <h3>Taking Things Further (App functions)</h3>
                    <ul>
                        <li>Complete OrderBook</li>
                        <ul>
                            <li>Selecting an Order would reveal related Instrument Detail</li>
                        </ul>
                        <li>Minor &amp; Major increment icon within input field</li>
                        <ul>
                            <li>Aid to entering figures into numeric fields (see mockup)</li>
                        </ul>
                    </ul>
                    <h3>Testing</h3>
                <p>Didn’t attempt setting up or running tests.
                <p>Would use Jasmine and Karma for the unit to mid testing and ProtractorJS for end 2 end.
                <p>
                    Found this link useful when starting and for reference: 
                    <a href="http://www.yearofmoo.com/2013/01/full-spectrum-testing-with-angularjs-and-karma.html">full-spectrum-testing-with-angularjs-and-karma.</a>
                <p>
                    Test in release mode to ensure bundling and minification is safe (ProtractorJS)
                    <h3>Mock ups</h3>
                <p>Depending on the spec I often create wire frames to act as discussion point / clarification.
                <p>Shown below is the mockup to help me clarify my own picture of the UI.<i><u></u></i></p>


                <a href="/Images/OrderEntry.png"><img title="OrderEntry" style="border-top: 0px; border-right: 0px; background-image: none; border-bottom: 0px; padding-top: 0px; padding-left: 0px; border-left: 0px; display: inline; padding-right: 0px" border="0" alt="OrderEntry" src="/Images/OrderEntry.png"></a></p>


            </div>


        </div>
    </div>
</div>