﻿<div class="row clearfix" ng-controller="orderBookController">

    <div class="proquote-container">
        <!--<div class="full ">-->

        <div class="row">
            <div class="col-md-7">
                <h3>Order Book</h3>
                <div class="input-group ">
                    <input ng-model="filterOptions.filterText" type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
                <div class="gridStyle" ng-grid="gridOptions" ng-click="rowSelection()"></div>
            </div>
        </div>

    </div>
</div>