﻿<h3>Order Placement</h3>
<form>
    <div class="row placementRow">
        <div class="col-md-4">
            <label>Quantity</label>
        </div>
        <div class="col-md-7">
            <input type="text" class="form-control input-md" ng-model="placement.quantity">
        </div>
    </div> <!-- row -->
    <div class="row placementRow">
        <div class="col-md-4">
            <label>Side</label>
        </div>
        <div class="col-md-7">
            <buy-sell-button class="btn-group" data-toggle="buttons" model='sideModel' options='sideOptions'></buy-sell-button>
        </div>
    </div>
    <div class="row placementRow">
        <div class="col-md-4">
            <label>Type</label>
        </div>
        <div class="col-md-7">
            <select class="form-control" ng-model="placement.orderType">
                <option>Market</option>
                <option>Stop</option>
                <option>Stop Limit</option>
                <option>Limit</option>
            </select>
        </div>
    </div> <!-- row -->
    <div class="row placementRow">
        <div class="col-md-4">
            <label>Expiry</label>
        </div>
        <div class="col-md-7">
            <select class="form-control" ng-model="placement.tif">
                <option>Day</option>
                <option>Good to Close</option>
                <option>Good to Cancel</option>
            </select>
        </div>
    </div> <!-- row -->
    <div class="row placementRow">
        <div class="col-md-4">
            <label>Settlement</label>
        </div>
        <div class="col-md-7">
            <select class="form-control" ng-model="placement.altSettlementCurrency">
                <option> </option>
                <option>GBP</option>
                <option>EUR</option>
                <option>USD</option>
            </select>
        </div>
    </div> <!-- row -->

    <div class="row placementRow">
        <div class="col-md-4"></div>
        <div class="col-md-8">
            <button class="btn  btn-default">Reset</button>
            <button type="submit" id="submitPlacementBtn" class="btn ladda-button" data-style="expand-right" ng-class="{true: 'btn-success', false:'btn-danger'}[(sideModel == 'Buy')]" ng-click="submitPlacement()">
                <span class="ladda-label">{{sideModel}}</span>
                <span class="ladda-spinner"></span>
                <span class="ladda-progress" style="width: 96px"></span>
            </button>
        </div>

    </div><!-- row -->
</form>